:root{
    --remove-color: rgb(222, 79, 79);
    --post-heading-size: 1.5rem;
    --post-heading-color: #263238;
    --post-heading-color-hover: gray(50%);
}

.post-header .meta-data{
    display: flex;
}

.post-header .remove-post {
    color: var(--remove-color);
    cursor: pointer;
    float: right;
}
.post-header .comment-tooltip{
    float: right;
    margin-right: 0.7em;
}
.post-header .comment-icon {
    color: gray;
    cursor: pointer;
}

.post-header .meta-data div {
    padding-top: 0.2em;
}

.post-header h1 {
    font-size: var(--post-heading-size);
    margin-bottom: 0;
}

.post-header h1 a {
    color: var(--post-heading-color);
    text-decoration: none;
}
.post-header h1 a:hover{
    text-decoration: none;
    color: var(--post-heading-color-hover)
}


