:root{
    --user-filter-bg: #FFB74D;
    --filter-padding: 0.2rem;
}

.search-input {
    width: 100%;
}

.user-filter{
    line-height: 1.5rem;
    background: var(--user-filter-bg);
    padding-right: 2em;
    padding-top: var(--filter-padding);
    padding-bottom: var(--filter-padding);
    padding-left: var(--filter-padding);
    border-radius: var(--filter-padding);
}

.user-filter i{
    cursor: pointer;
}

.user-filter .clear-user-filter{
    font-size: 1.3rem;
    position: absolute;

}
